// @import '../styles/utilities.scss';
// @import '../styles/variables.scss';
// @import 'poly-fluid-sizing';


.container-fluid {
	.row{
		.col{
			.btn{
				text-align: center;
				a{
					text-align: center;
				}
			}
		}
	}
}