// @import '../styles/utilities.scss';
// @import '../styles/variables.scss';
// @import 'poly-fluid-sizing';


.containerForm {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid rgb(53, 65, 237);

	padding: 20px;
}