// @import '../styles/utilities.scss';
// @import '../styles/variables.scss';
// @import 'poly-fluid-sizing';


.headerVeterinaria {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid rgb(153, 92, 153);	
	padding: 20px;

}

.titleHeader{
	font-size: 24px;
	font-weight: bold;
}