@font-face {
    font-family: "OldStandardTT-Regular";
    src: url("OldStandardTT-Regular.ttf");
    src: local("☺"), url("OldStandardTT-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "OldStandardTT-Italic";
    src: url("OldStandardTT-Italic.ttf");
    src: local("☺"), url("OldStandardTT-Italic.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "OldStandardTT-Bold";
    src: url("OldStandardTT-Bold.ttf");
    src: local("☺"), url("OldStandardTT-Bold.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}


@font-face {
    font-family: "/CoreSansC-Thin";
    src: url("coresans/CoreSansC-15Thin.ttf");
    src: local("☺"), url("coresans/CoreSansC-15Thin.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "CoreSansC-Light";
    src: url("coresans/CoreSansC-35Light.ttf");
    src: local("☺"), url("coresans/CoreSansC-35Light.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "CoreSansC-Regular";
    src: url("coresans/CoreSansC-45Regular.ttf");
    src: local("☺"), url("coresans/CoreSansC-45Regular.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "CoreSansC-Medium";
    src: url("coresans/CoreSansC-55Medium.ttf");
    src: local("☺"), url("coresans/CoreSansC-55Medium.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "CoreSansC-Bold";
    src: url("coresans/CoreSansC-65Bold.ttf");
    src: local("☺"), url("coresans/CoreSansC-65Bold.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "CoreSansC-ExtraBold";
    src: url("coresans/CoreSansC-75ExtraBold.ttf");
    src: local("☺"), url("coresans/CoreSansC-75ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "CoreSansC-Heavy";
    src: url("coresans/CoreSansC-85Heavy.ttf");
    src: local("☺"), url("coresans/CoreSansC-85Heavy.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}

@font-face {
    font-family: "CoreSansC-Heavy";
    src: url("coresans/CoreSansC-95BlackIt.ttf");
    src: local("☺"), url("coresans/CoreSansC-95BlackIt.ttf") format("truetype");
    font-style: normal;
    font-display: auto;
    font-weight: normal;
}