// @import '../styles/utilities.scss';
// @import '../styles/variables.scss';
// @import 'poly-fluid-sizing';

// // @import '/styles/variables.scss';

// @import 'poly-fluid-sizing';

.bg-red{

	background: red;
}
.listVeterinaria {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid rgb(92, 153, 128);	

	// $f-72: (1920px: 72px,
	// 		992px: 50px,
	// );
	// @include poly-fluid-sizing('padding-top', $f-72);

	// @include poly-fluid-sizing('padding-top', (320px:18px, 768px:26px, 1024px:38px, 1440px:46px));


}

.titleHeader{
	font-size: 20px;
	font-weight: bold;
}