@import './variables.scss';

.f-72 {
	$f-72: (1920px: 72px,
			992px: 50px,
		);
	@include poly-fluid-sizing('font-size', $f-72);
}

.f-64 {
	$f-64: (1920px: 64px,
			992px: 40px,
			375px: 30px,
		);
	@include poly-fluid-sizing('font-size', $f-64);
}

.f-50 {
	$f-50: (1920px: 50px,
			992px: 30px,
		);
	@include poly-fluid-sizing('font-size', $f-50);
}

.f-48 {
	$f-48: (1920px: 48px,
			1441px: 30px,
			1440px: 40px,
			1025px: 30px,
			1024px: 40px,
			769px: 32px,
			768px: 32px,
			501px: 32px,
			500px: 32px,
			391px: 32px,
			390px: 32px,
			100px: 5px,
		);
	@include poly-fluid-sizing('font-size', $f-48);
}

.f-40 {
	$f-40: (1920px: 40px,
			992px: 20px,
		);
	@include poly-fluid-sizing('font-size', $f-40);
}

.f-36 {
	$f-36: (1920px: 36px,
			768px: 36px,
			391px: 24px,
			390px: 24px,
		);
	@include poly-fluid-sizing('font-size', $f-36);
}

.f-32 {
	$f-32: (1920px: 32px,
			1441px: 25px,
			1440px: 32px,
			1025px: 25px,
			1024px: 32px,
			769px: 20px,
			768px: 24px,
			391px: 24px,
			390px: 24px,
			100px: 5px,
		);
	@include poly-fluid-sizing('font-size', $f-32);
}

.f-24,
.form-control.f-24 {
	$f-24: (1920px: 24px,
			992px: 17px,
		);
	@include poly-fluid-sizing('font-size', $f-24);
}

.f-20 {
	$f-20: (1920px: 20px,
			1441px: 15px,
			1440px: 20px,
			1024px: 20px,
			414px: 16px,
			320px: 16px,
			50px: 5px);
	@include poly-fluid-sizing('font-size', $f-20);
}

.f-18 {
	$f-18: (1920px: 18px,
			992px: 13px,
		);
	@include poly-fluid-sizing('font-size', $f-18);
}

.f-16 {
	$f-16: (1920px: 16px,
			992px: 13px,
		);
	@include poly-fluid-sizing('font-size', $f-16);
}

.f-15 {
	$f-15: (1920px: 15px,
			992px: 12px,
		);
	@include poly-fluid-sizing('font-size', $f-15);
}

.f-14 {
	$f-14: (1920px: 14px,
			1441px: 10px,
			1440px: 14px,
			1025px: 13px,
			1024px: 14px,
			769px: 13px,
			768px: 14px,
			501px: 14px,
			500px: 14px,
			391px: 14px,
			390px: 12px,
			0px: 5px,
		);
	@include poly-fluid-sizing("font-size", $f-14);

}

.f-12 {
	$f-12: (1920px: 12px,
			992px: 10px,
		);
	@include poly-fluid-sizing('font-size', $f-12);
}

.f-10 {
	$f-10: (1920px: 10px,
			992px: 8px,
		);
	@include poly-fluid-sizing('font-size', $f-10);
}

.lh-56 {
	$lh-56: (1920px: 56px,
			1441px: 40px,
			1440px: 35px,
			1025px: 25px,
			1024px: 32px,
			769px: 20px,
			768px: 32px,
			501px: 32px,
			500px: 32px,
			391px: 28px,
			390px: 32px,
			100px: 5px,
		);
	@include poly-fluid-sizing("line-height", $lh-56);
}

.lh-37 {
	$lh-37: (1920px: 37px,
			1441px: 30px,
			1440px: 37px,
			1025px: 20px,
			1024px: 37px,
			769px: 30px,
			768px: 32px,
			391px: 30px,
			390px: 32px,
			100px: 5px,
		);
	@include poly-fluid-sizing("line-height", $lh-37);
}

.lh-24 {
	$lh-24: (1920px: 24px,
			1441px: 20px,
			1440px: 24px,
			1025px: 20px,
			1024px: 24px,
			769px: 20px,
			768px: 24px,
			501px: 20px,
			500px: 24px,
			391px: 20px,
			390px: 24px,
			100px: 5px,
		);
	@include poly-fluid-sizing("line-height", $lh-24);
}

.lh-16 {
	$lh-16: (1920px: 16px,
			1441px: 14px,
			1440px: 16px,
			1025px: 14px,
			1024px: 16px,
			769px: 14px,
			768px: 16px,
			501px: 14px,
			500px: 14px,
			391px: 12px,
			390px: 12px,
			100px: 5px,
		);
	@include poly-fluid-sizing("line-height", $lh-16);
}